#newlocation-modal.modal.fade{tabindex:"-1", role: "dialog"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h3.text-center Create A Custom Location 
      .modal-body.col-md-12
        %p form goes here 
      .modal-footer
        %button.btn.btn-default.btn-primary Save 
        %button.btn.btn-default.btn-primary{"data-dismiss"=>"modal"} Cancel 
